@page "/"
@using Frontend.Repo;
@using Microsoft.AspNetCore.Components;
@using Models;
@inject IHttpClientFactory ClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserAuth userAuth


<PageTitle>My plants</PageTitle>

<div class="background-box">
	<h3>My plants</h3>
	<div class="plant-container">
		@if (plants == null)
		{
			<p>Loading plants...</p>
		}
		else
		{
			@foreach (var plant in plants)
			{
				var newestMetric = plant.Metrics?.OrderByDescending(m => m.Timestamp).FirstOrDefault();

				if (newestMetric != null)
				{
					<a class="button-unchanged"
					href="@($"/plantdetails/{plant.GUID}")">
						<PlantWidget Name="@plant.PlantName"
						Humidity="@newestMetric.AirHumidity.ToString()"
						Temperature="@newestMetric.Temperature.ToString()"
						Moisture="@newestMetric.SoilMoisture.ToString()"
						LightLevel="@newestMetric.LightLevel.ToString()" />
					</a>
				}
				else
				{
					<div class="plant-box-no-metric">
						<h3>@plant.PlantName has no metrics yet.</h3>
					</div>
				}
			}
		}
	</div>
</div>

@code {
	private List<Plant> plants = new();
	private bool loggedIn = false;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
			var user = userAuth.GetUser();

			if (user != null)
			{
				var email = user.Email;

				if (!string.IsNullOrEmpty(email))
				{
					var encodedEmail = Uri.EscapeDataString(email);

					var client = ClientFactory.CreateClient("ApiCall");
					plants = await client.GetFromJsonAsync<List<Plant>>($"plant/byUser/{encodedEmail}");

					Console.WriteLine($"Received {plants.Count} plants for {email}.");
				}
				else
				{
					Console.WriteLine("Email claim is missing.");
				}
			}
			else
			{
				Console.WriteLine("User is not authenticated.");
			}
			StateHasChanged();
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error fetching plant data: {ex.Message}");
		}
	}
}
